node red/config.json
[{"id":"768735ee.bf4e9c","type":"tab","label":"REST","disabled":false,"info":""},{"id":"e1d7b2e5.27d13","type":"inject","z":"768735ee.bf4e9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["1356bb84.2b29b4"]]},{"id":"ac79ed53.f3039","type":"http request","z":"768735ee.bf4e9c","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"https://api.nrfcloud.com/v1/messages","tls":"","persist":false,"proxy":"","authType":"bearer","x":410,"y":120,"wires":[["dc056ed9.d99bd"]]},{"id":"dc056ed9.d99bd","type":"debug","z":"768735ee.bf4e9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":240,"wires":[]},{"id":"1356bb84.2b29b4","type":"function","z":"768735ee.bf4e9c","name":"Timeformatter","func":"const hour = 1000 * 60 * 60\n\nreturn {\n    payload: {\n        inclusiveStart: new Date(msg.payload - hour).toISOString(),\n        exclusiveEnd: new Date(msg.payload).toISOString(),\n        deviceIdentifiers: \"nrf-352656100986572,nrf-352656100986564\",\n        pageLimit: 100,\n        pageSort: \"desc\"\n    }\n}","outputs":1,"noerr":0,"x":180,"y":120,"wires":[["ac79ed53.f3039","144b6359.97aaad"]]},{"id":"144b6359.97aaad","type":"debug","z":"768735ee.bf4e9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":240,"wires":[]}]